<div class="history-viewer">
  <app-sidebar [mode]="sidebarMode"></app-sidebar>
</div>
<div class="player">
  <div class="header">
    <div class="controls">
      <div class="control history" (click)="openSidebar('playlist')" [class.active]="sidebarOpened && sidebarMode === 'playlist'">
        <i class="material-icons">queue_music</i>
      </div>
      <div class="control history" (click)="openSidebar('history')" [class.active]="sidebarOpened && sidebarMode === 'history'">
        <i class="material-icons">history</i>
      </div>
      <div class="control favorit" [class.active]="isPlaylist" (click)="togglePlaylist()">
        <i class="material-icons">favorite_border</i>
      </div>
      <div class="control repeat" [class.active]="repeatOneTrack" (click)="toggleAudioLoop()">
        <i class="material-icons">repeat_one</i>
      </div>
      <div class="control skip">
        <i class="material-icons" (click)="skipTrack()">skip_next</i>
      </div>
      <div class="control indicator" [class.loading]="trackLoading">
        <i class="material-icons">hourglass_empty</i>
      </div>
    </div>
    <div class="expand"></div>
    <div class="channel">
      <select #channelSelect (change)="channelChanged($event.target.value)">
        <option value="-1">select channel</option>
        <option *ngFor="let channel of channelList" value="{{channel.id}}">{{channel.name}}</option>
      </select>
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </div>
  <div class="album">
    <app-lp [albumCover]="currentTrack && currentTrack.albumArtUrl ? currentTrack.albumArtUrl : 'assets/images/albumart-placeholder.jpg'" (click)="lpClicked()"></app-lp>
    <div class="music-info">
      <audio #audio autoplay="true" src="{{currentTrack ? currentTrack.musicUrl : ''}}"></audio>
      <div class="title">{{ currentTrack ? currentTrack.title : '' }}</div>
      <div class="artist">{{ currentTrack ? ('by ' + currentTrack.artist) : '' }}</div>
    </div>
  </div>
  <div class="player-overlay" (click)="sidebarOpened = false"></div>
</div>
