@keyframes spin {
  20% {transform:rotate(0deg);}
  100% {transform:rotate(180deg);}
}

:host {
  display: block;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: transform 0.3s ease-in-out;

  &.history-view {
    transform: translate3d(300px, 0, 0);

    .player-overlay {
      display: block;
    }
  }
}

.player {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: radial-gradient(circle closest-side, rgba(255,255,255,0.05), transparent);
  // background-color: #660011;
  background-color: #4e020e;
  box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.4);

  > * {
    width: 100%;
  }
}

.history-viewer {
  width: 300px;
  position: absolute;
  left: -300px;
  top: 0;
  bottom: 0;
  background-color: #4e020e;
  z-index: -1;
}

.player-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;

  display: none;
}

.music-info {
  font-family: 'Kaushan Script', cursive;
  color: white;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;

  .title {
    font-size: 1.15em;
  }
}

.artist {
  margin-top: 0.2em;
}

.header, .footer {
  height: 3.75em;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  padding: 0 1em;
  // box-shadow: 2px 0 5px 0 rgba(0,0,0,.5);
  // overflow: hidden;

  .expand {
    flex: 1;
  }
}

.channel {
  > * {
    vertical-align: middle;
    color: white;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    font-size: 1em;
    text-align-last: end;
    outline: none;
    text-transform: uppercase;
    margin-right: 0.2em;

    font-family: 'Quicksand', sans-serif;
    // letter-spacing: 1px;
  }
}

.album {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  .control {
    display: inline-block;
    color: white;

    line-height: 0;
    vertical-align: middle;

    cursor: pointer;

    i {
      font-size: 28px;
    }

    &.active i:first-child{
      text-shadow: 0px 0px 10px white;
    }

    &.indicator {
      visibility: hidden;

      &.loading {
        visibility: visible;

        i {
          animation: spin 1.5s linear infinite;
        }
      }
    }

    &.volume {
      position: relative;

      .volume-slider {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        // transform: scaleY(0);
        transform-origin: top;

        pointer-events: none;
        transition: all 0.2s linear;

        .small-volume-icon.mute {
          margin-left: -2px;
          display: inline-block;
        }

        .small-volume-icon:not(.active) {
          display: none;
        }

        &.active {
          opacity: 1;
          pointer-events: auto;
          // transform: scaleY(1);
        }

        app-vertical-slider {
          margin: 6px auto;
        }
      }
    }

    + .control {
      margin-left: 0.8em;
    }
  }
}

