<div class="player">
  <div class="header">
    <div class="controls">
      <div class="control history">
        <i class="material-icons">history</i>
      </div>
      <div class="control volume">
        <i class="material-icons">volume_up</i>
      </div>
      <div class="control repeat" [class.active]="repeatOneTrack" (click)="toggleAudioLoop()">
        <i class="material-icons">repeat_one</i>
      </div>
    </div>
    <div class="expand"></div>
    <div class="channel">
      <select (change)="channelChanged($event.target.value)">
        <option value="-1">select channel</option>
        <option *ngFor="let channel of channelList" value="{{channel.id}}">{{channel.name}}</option>
      </select>
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </div>
  <div class="album">
    <app-lp #lp [albumCover]="currentTrack && currentTrack.albumArtUrl ? currentTrack.albumArtUrl : 'assets/images/albumart-placeholder.jpg'" (click)="lpClicked()"></app-lp>
    <div class="music-info">
      <audio #audio autoplay="true" (ended)="audioEnded()" (play)="audioStarted()" (pause)="audioPaused()" src="{{currentTrack ? currentTrack.musicUrl : ''}}"></audio>
      <div class="title">{{ currentTrack ? currentTrack.title : '' }}</div>
      <div class="artist">{{ currentTrack ? ('- ' + currentTrack.artist) : '' }}</div>
    </div>
  </div>
</div>
