<div class="player">
  <div class="header">
    <div class="menu"></div>
    <div class="expand"></div>
    <div class="channel">
      <select (change)="channelChanged($event.target.value)">
        <option value="-1">select channel</option>
        <option *ngFor="let channel of channelList" value="{{channel.id}}">{{channel.name}}</option>
      </select>
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </div>
  <div class="album">
    <app-lp #lp [albumCover]="currentTrack && currentTrack.albumArtUrl ? currentTrack.albumArtUrl : 'assets/images/albumart-placeholder.jpg'" (click)="lpClicked()"></app-lp>
    <div class="music-info">
      <audio #audio autoplay="true" (ended)="audioEnded()" (play)="audioStarted()" (pause)="audioPaused()" src="{{currentTrack ? currentTrack.musicUrl : ''}}"></audio>
      <div class="title" [innerHtml]="currentTrack? currentTrack.title : '&nbsp;'"></div>
      <div class="artist" [innerHtml]="currentTrack? ('- ' + currentTrack.artist) : '&nbsp;'"></div>
    </div>
  </div>
  <div class="footer">
    <div class="expnad"></div>
    <div class="volume-control"></div>
  </div>
</div>
